In [47]:
pip install flask-ngrok

Requirement already satisfied: flask-ngrok in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (0.0.25)
Requirement already satisfied: Flask>=0.8 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from flask-ngrok) (3.0.0)
Requirement already satisfied: requests in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from flask-ngrok) (2.28.1)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from Flask>=0.8->flask-ngrok) (3.0.1)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from Flask>=0.8->flask-ngrok) (3.1.2)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from Flask>=0.8->flask-ngrok) (2.1.2)
Requirement already satisfied: click>=8.1.3 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from Flask>=0.8->flask-ngrok) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from Flask>=0.8->flask-ngrok) (1.6.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from requests->flask-ngrok) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from requests->flask-ngrok) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from requests->flask-ngrok) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from requests->flask-ngrok) (2022.9.24)
Requirement already satisfied: colorama in c:\users\harika penchala\appdata\roaming\python\python311\site-packages (from click>=8.1.3->Flask>=0.8->flask-ngrok) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from Jinja2>=3.1.2->Flask>=0.8->flask-ngrok) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [48]:
pip install pandas

Requirement already satisfied: pandas in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [49]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (0.13.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.23.4)
Requirement already satisfied: pandas>=1.2 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\harika penchala\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

In [50]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (1.3.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.23.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.2.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [52]:
df=pd.read_csv('C:/Users/HARIKA PENCHALA/Downloads/onlinefraud.csv')
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,95,CASH_OUT,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,0
1048571,95,PAYMENT,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,0
1048572,95,PAYMENT,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,0
1048573,95,PAYMENT,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,0
1048574,95,PAYMENT,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,0

In [53]:
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [54]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   step            1048575 non-null  int64
 1   type            1048575 non-null  object
 2   amount          1048575 non-null  float64
 3   nameOrig        1048575 non-null  object
 4   oldbalanceOrg   1048575 non-null  float64
 5   newbalanceOrig  1048575 non-null  float64
 6   nameDest        1048575 non-null  object
 7   oldbalanceDest  1048575 non-null  float64
 8   newbalanceDest  1048575 non-null  float64
 9   isFraud         1048575 non-null  int64
 10  isFlaggedFraud  1048575 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 88.0+ MB

In [56]:
df['step'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95], dtype=int64)

In [57]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [58]:
df.shape

(1048575, 11)

In [59]:
df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [60]:
type=df['type'].value_counts()

In [61]:
transaction=type.index

In [62]:
quantity=type.values

In [63]:
pip install plotly_express==0.4. 0

Requirement already satisfied: plotly_express==0.4. in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (0.4.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: 0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (0.0.0)
Requirement already satisfied: pandas>=0.20.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from plotly_express==0.4.) (2.1.1)
Requirement already satisfied: plotly>=4.0.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from plotly_express==0.4.) (5.17.0)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from plotly_express==0.4.) (0.14.0)
Requirement already satisfied: scipy>=0.18 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from plotly_express==0.4.) (1.11.3)
Requirement already satisfied: patsy>=0.5 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from plotly_express==0.4.) (0.5.3)
Requirement already satisfied: numpy>=1.11 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from plotly_express==0.4.) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.20.0->plotly_express==0.4.) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.20.0->plotly_express==0.4.) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.20.0->plotly_express==0.4.) (2023.3)
Requirement already satisfied: six in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from patsy>=0.5->plotly_express==0.4.) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from plotly>=4.0.0->plotly_express==0.4.) (8.2.3)
Requirement already satisfied: packaging in c:\users\harika penchala\appdata\roaming\python\python311\site-packages (from plotly>=4.0.0->plotly_express==0.4.) (23.2)

In [64]:
import plotly.express as px

In [65]:
pip install --upgrade nbformat

Requirement already satisfied: nbformat in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (5.9.2)
Requirement already satisfied: fastjsonschema in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from nbformat) (2.18.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from nbformat) (4.19.1)
Requirement already satisfied: jupyter-core in c:\users\harika penchala\appdata\roaming\python\python311\site-packages (from nbformat) (5.4.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\harika penchala\appdata\roaming\python\python311\site-packages (from nbformat) (5.12.0)
Requirement already satisfied: attrs>=22.2.0 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\harika penchala\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat) (0.10.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\harika penchala\appdata\roaming\python\python311\site-packages (from jupyter-core->nbformat) (3.11.0)
Requirement already satisfied: pywin32>=300 in c:\users\harika penchala\appdata\roaming\python\python311\site-packages (from jupyter-core->nbformat) (306)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [66]:
px.pie(df,values=quantity,names=transaction,hole=0.4,title="Distribution of transaction type")

In [67]:
df=df.dropna()

In [68]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,95,CASH_OUT,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,0
1048571,95,PAYMENT,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,0
1048572,95,PAYMENT,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,0
1048573,95,PAYMENT,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,0
1048574,95,PAYMENT,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,0

In [69]:
df.replace(to_replace=['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],value=[2,4,1,5,3],inplace=True)

In [70]:
type

type
CASH_OUT    373641
PAYMENT     353873
CASH_IN     227130
TRANSFER     86753
DEBIT         7178
Name: count, dtype: int64

In [71]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,2,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,4,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,2,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,95,1,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,0
1048571,95,2,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,0
1048572,95,2,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,0
1048573,95,2,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,0
1048574,95,2,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,0

In [72]:
df['isFraud']=df['isFraud'].map({0:'No Fraud',1:'Fraud'})

In [73]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,No Fraud,0
1,1,2,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,No Fraud,0
2,1,4,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,Fraud,0
3,1,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,Fraud,0
4,1,2,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,No Fraud,0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,95,1,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,No Fraud,0
1048571,95,2,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,No Fraud,0
1048572,95,2,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,No Fraud,0
1048573,95,2,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,No Fraud,0
1048574,95,2,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,No Fraud,0

In [74]:
x=df[['type','amount','oldbalanceOrg','newbalanceOrig']]

In [75]:
y=df.iloc[:,-2]

In [76]:
y

0          No Fraud
1          No Fraud
2             Fraud
3             Fraud
4          No Fraud
             ...
1048570    No Fraud
1048571    No Fraud
1048572    No Fraud
1048573    No Fraud
1048574    No Fraud
Name: isFraud, Length: 1048575, dtype: object

In [77]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.2)

In [78]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(838860, 4)
(209715, 4)
(838860,)
(209715,)

In [79]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [80]:
model=LogisticRegression()

In [81]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [82]:
model.fit(xtrain,ytrain)

LogisticRegression()

In [83]:
model.score(xtest,ytest)

0.9992465965715376

In [84]:
model.score(xtest,ytest)*100

99.92465965715375

In [85]:
model.predict([[2,9839,170136,160296]])

c:\Users\HARIKA PENCHALA\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning:

X does not have valid feature names, but LogisticRegression was fitted with feature names

array(['No Fraud'], dtype=object)

In [86]:
x

         type     amount  oldbalanceOrg  newbalanceOrig
0           2    9839.64      170136.00       160296.36
1           2    1864.28       21249.00        19384.72
2           4     181.00         181.00            0.00
3           1     181.00         181.00            0.00
4           2   11668.14       41554.00        29885.86
...       ...        ...            ...             ...
1048570     1  132557.35      479803.00       347245.65
1048571     2    9917.36       90545.00        80627.64
1048572     2   14140.05       20545.00         6404.95
1048573     2   10020.05       90605.00        80584.95
1048574     2   11450.03       80584.95        69134.92

[1048575 rows x 4 columns]

In [87]:
#models=[]
#results=[]
#names=[]

In [88]:
#from sklearn.linear_model import LogisticRegression
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.naive_bayes import GaussianNB
#from sklearn.svm import SVC

In [89]:
#models.append(('LR',LogisticRegression()))
#models.append(('KNN',KNeighborsClassifier()))
#models.append(('NB',GaussianNB()))
#models.append(('SVM',SVC()))
#models.append(('CART',DecisionTreeClassifier()))

In [90]:
#models

In [91]:
#from sklearn import model_selection
#for name,model in models:
#  kfold=model_selection.KFold(n_splits=10,random_state=42,shuffle=True)
#  cv_result=model_selection.cross_val_score(model,x,y,cv=kfold,scoring='accuracy')
#  results.append(cv_result)
#  names.append(name)
#  meg='%s: %f'%(name,cv_result.mean())
#  print(meg)

In [92]:
import pickle

with open('fraud_detection_model.pkl', 'wb') as model_file:
    pickle.dump(model, model_file, protocol=2)